
$bg-silver: #f2f2f2;
$bg-green:#04aa6d;


 @mixin formStyles($width,$height) {
    margin-left: 2%;
    width: $width;
    height: $height;
     
 }
 .input {
     @include formStyles(90%,4vh) ;
   border: 1px solid white;
    border-radius: 3px;
     margin-top: 1%;
       margin-bottom: 10px;
 }

#country{
    @include formStyles(90%,4vh );
      border: 1px solid white;
    border-radius: 3px;
    margin-top: 1%;
      margin-bottom: 10px;
}
label {
    @include formStyles(100%,0 );
   padding-top: 3%;

    
}

 body {
     background-color: $bg-silver;
     box-sizing: border-box;
     overflow-x: hidden
 }
.textarea {
    @include formStyles(90%,5vh );
      border: 1px solid white;
    border-radius: 3px;
    margin-top: 1%;

}
 .button {
   margin-left: 2%;
   border-radius: 4px;
     border: 2px solid $bg-green;
    background-color: $bg-green;
     margin-top: 1%;
     padding: 4px;
     cursor: pointer;
     color: white;
 }
 h2 {
     color: palevioletred;
     border: 1px solid $bg-green;
     background-color: $bg-green;
     color: white;
     border-radius: 5px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    text-align: center;
    justify-content: center;

 }
 @keyframes example {

  to {transform: scale(1.4)}
  

}